<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css">
             <title>{% block title %}{% endblock %} Bài 2</title>

        {% endblock %}
    </head>
    <body>
        {% block content %}
        <a href="./index.php?action=add">Thêm User</a>
        <table border="1" style="width: 80%;">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>User Name</td>
                    <td>Email</td>
                    <td>Sửa</td>
                    <td>Xóa</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><a href="./index.php?action=edit&id={{user.id}}">Sửa</a></td>
                    <td><a href="./index.php?action=delete&id={{user.id}}">Xóa</a></td>              
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </body>
</html>
